# coturn configuration
# Copy to turnserver.conf and update values from your .env file:
#   cp turnserver.conf.example turnserver.conf
#
# To generate the TURN user hash:
#   turnadmin -k -u $TURN_USER -r $TURN_REALM -p $TURN_CREDENTIAL

listening-port=3478
listening-ip=0.0.0.0
relay-ip=0.0.0.0
external-ip=YOUR_PUBLIC_IP
realm=abyss
user=abyss:GENERATE_HASH_WITH_TURNADMIN
lt-cred-mech
fingerprint
no-cli
verbose
